.center {
  text-align: center;
}

.border {
  border: 1px solid green;
}

.margin-10 {
  margin: 10px;
}

.padding-20 {
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  flex: 1 1 25%;
}

.site {
  background: #e1decf;
  overflow: auto;
  height: auto;
  min-height: 150vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  position: relative;
}

.grid-container {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 65rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
  margin-bottom: 10rem;
}

img {
  display: block;
  width: 100%;
}

.grid__item--pink {
  grid-column: 10 / span 3;
  z-index: 0;
  grid-row: 3 / span 3;
}

.grid__item--ystripes {
  grid-column: 1 / span 2;
  z-index: 1;
  grid-row: 6 / span 4;
}

.grid__item--dblue {
  grid-column: 2 / span 5;
  z-index: 2;
  grid-row: 4 / span 8;
}

.grid__item--violet {
  grid-column: 7 / span 5;
  z-index: 3;
  grid-row: 1 / span 10;
}

.grid__item--salmon {
  grid-column: 3 / span 6;
  z-index: 4;
  grid-row: 5 / span 8;
}

.grid__item--green {
  grid-column: 8 / span 4;
  z-index: 5;
  grid-row: 9 / span 3;
}

.grid__item--black {
  grid-column: 7 / span 5;
  z-index: 6;
  grid-row: 3 / span 4;
}
.heading {
  font-size: 1.2rem;
  font-family: Questrial;
  color: #262626;
  position: relative;
  top: 4rem;
  left: 2rem;
}
